<div class="row">
  <div class="col-1 no-gutter text-center">
    <button mat-icon-button (click)="setFlagRicevuto()" title="Marca il documento come ricevuto">
      <mat-icon color="{{ ricevuto === '0' ? 'warn' : 'primary' }}">brightness_1</mat-icon>
    </button>
    <br />
    <h6 class="ellipsis">{{ coddoc }}</h6>
  </div>
  <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12 no-gutter">
    <span class="spacer"></span>
    <h6 class="ellipsis" [innerHTML]="title"></h6>
    <span class="spacer"></span>
    <p class="dimmed">{{ text }}</p>
  </div>
  <div class="col-lg-2 col-md-5 col-sm-5 col-xs-12 text-right no-gutter">
    <button [dialog]="editDialog" id="{{ iddoc }}" class="btn btn-sm bnl-button bordered">
      <mat-icon>edit</mat-icon>
    </button>
    <button [dialog]="statusDialog" id="{{ iddoc }}" class="btn btn-sm bnl-button bordered">
      <mat-icon>date_range</mat-icon>
    </button>
    <mat-icon _ngcontent-onl-c11="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
      aria-hidden="true"></mat-icon>
  </div>
</div>

<!-- Form per modifica Documento -->
<ng-template #editDialog let-formDialog="dialogRef">
  <ng-container stateBase="senddocument" stateBaseModel="/">
    <div class="row">
      <div class="col-6">
        <h2 mat-dialog-title>Documento <small>{{coddoc}}</small></h2>
      </div>
      <div class="col-6 text-right">
        <i class="closeDialog2 bnl-close-light" (click)="closeForm(formDialog, false)" alt=""></i>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="sendAction(formDialog)">

          <plug-data-form #sendDocument [fields]="dialogFields" [options]="options" [model]="model" [form]="form">
          </plug-data-form>
          <mat-dialog-actions align="end">
            <button type="button" class="btn bnl-button bordered mr10" (click)="closeForm(formDialog, false)">
              Annulla
            </button>
            &nbsp;
            <button type="submit" class="btn bnl-button submit-button">
              Conferma
            </button>
          </mat-dialog-actions>
        </form>
      </div>
    </div>
  </ng-container>
</ng-template>

<!-- Form per stato Documento -->
<ng-template #statusDialog let-formDialog="dialogRef">
  <ng-container stateBase="senddocument" stateBaseModel="/">
    <div class="row">
      <div class="col-12 text-right">
        <i class="closeDialog bnl-close-light" (click)="closeForm(formDialog, false)" alt=""></i>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form (ngSubmit)="sendAction(formDialog)">
          <h2 mat-dialog-title>L'Organo CCIR...</h2>
          <plug-data-form #sendDocument [fields]="dialogFields2" [options]="options2" [form]="form"></plug-data-form>
          <mat-dialog-actions align="end">
            <button type="button" class="btn bnl-button bordered mr10" (click)="closeForm(formDialog, false)">
              Annulla
            </button>
            &nbsp;
            <button type="submit" class="btn bnl-button submit-button">
              Conferma
            </button>
          </mat-dialog-actions>
        </form>
      </div>
    </div>
  </ng-container>
</ng-template>