:host {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 0;

  &:last-of-type {
    border: 0;
  }
  .spacer {
    width: 1px;
    height: 32px;
    color: transparent;
    background-color: transparent;
    display: inline-block;
  }
  h6 {
    margin: 0;
    font-size: 110;
  }
  p {
    margin: 0;
  }
  .dimmed {
    color: #999;
  }
  .closeDialog2 {
    height: 18px;
    width: 18px;
    font-size: 18px;
    cursor: pointer;
  }
}
