<div class="collapse-panel" [class.opened]="opened" id="meseRiunione" #meseRiunione>
  <div class="collapse-panel-header" (click)="toggle.next()" #header>
    <div class="row alCentro">
      <div class="col-5 alCentro">
        <h5>{{title}}</h5>
      </div>
      <div class="col-5">
        <form [formGroup]="formDataRiunione" class="row" (ngSubmit)="setDataRiunione()">

          <mat-form-field>
            <mat-label>Verbale</mat-label>
            <input #verbaleInput_{{month}} (click)="$event.stopPropagation()" class="mat-input" matInput
              formControlName="num_verbale" [value]="n_verbale" placeholder="Verbale">
          </mat-form-field>

          <div class="col-6">
            <mat-form-field>
              <!-- <mat-label>Data</mat-label> -->
              <input #datepickerInput_{{month}} class="mat-datepicker-input" matInput [matDatepicker]="picker"
                formControlName="data_riunione" [value]="dateriunione" placeholder="Data"
                (click)="$event.stopPropagation()">
              <!-- <mat-icon matDatepickerToggleIcon (click)="clearDate($event)">clear</mat-icon> -->
              <button mat-button *ngIf="dateriunione" matSuffix mat-icon-button aria-label="Clear"
                (click)="dateriunione=''; $event.stopPropagation()">
                <mat-icon>clear</mat-icon>
              </button>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker (click)="$event.stopPropagation()"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-2 no-gutter">
            <button class="btn btn-sm bnl-button bordered" type="submit" (click)="$event.stopPropagation()"
              title="Registra modifiche">
              <mat-icon>save</mat-icon>
              <!-- <button type="submit" mat-mini-fab color="primary" aria-label="Salva data della riunione">
            <mat-icon>update</mat-icon> -->
            </button>
          </div>
        </form>
      </div>

      <div class="col-2 no-gutter text-right">
        <span *ngIf="idriunione!= null" class="semaforo">
          <mat-icon class="icon-2x mr-10" color="{{statoRiunione}}">{{iconaRiunione}}</mat-icon>
        </span>
        <button [dialog]="addDialog" id="{{ idriunione }}" (click)="$event.stopPropagation()"
          class="btn btn-sm bnl-button bordered" title="Aggiungi documento una-tantum">
          <mat-icon>add</mat-icon>
        </button>
        <mat-icon>{{arrow  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
      </div>
    </div>

  </div>
  <div class="collapse-panel-content" [@contentExpansion]="opened ? 'expanded' : 'collapsed'">
    <div class="collapse-panel-body" #body>
      <ng-content></ng-content>
    </div>
  </div>
  <div>

    <!-- Form per inserimento Documento nella riunione -->
    <ng-template #addDialog let-formDialog="dialogRef">
      <ng-container stateBase="adddocument" stateBaseModel="/">
        <div class="row">
          <div class="col-12 no-gutter text-right">
            <i class="closeDialog bnl-close-light" (click)="closeForm(formDialog, false)" alt=""></i>
          </div>
        </div>
        <div class="row">
          <div class="col-12 no-gutter">
            <form [formGroup]="form" (ngSubmit)="sendAction(formDialog)">
              <h2 mat-dialog-title>Riunione {{idriunione}}</h2>
              <plug-data-form #addDocument immutable="immutable" [fields]="dialogFields" [options]="options"
                [form]="form"></plug-data-form>
              <mat-dialog-actions align="end">
                <button type="button" class="btn bnl-button bordered mr10"
                  (click)="closeForm(formDialog, false)">Annulla</button> &nbsp;
                <button type="submit" class="btn bnl-button submit-button">Conferma</button>
              </mat-dialog-actions>
            </form>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <!-- Tabella per inserimento Documento censito nella riunione -->
    <ng-template #documentilistTable templateData="documentiTable" let-tableDialog="dialogRef">
      <ng-container stateBase="documentiTable" stateBaseModel="/">
        <div class="logoFeedback">
          <i class="closeDialog bnl-close-light" (click)="tableDialog.close()" alt=""></i>
        </div>
        <mat-dialog-content>
          <plug-data-table class="bootstrap responsive striped" [columns]="columns" headerHeight="auto"
            model="doccensitilist">
          </plug-data-table>
          <ng-template templateData="choose" let-row="row">
            <button class="btn bnl-edit-pencil-light" (click)="choose(tableDialog, row)"></button>
          </ng-template>
        </mat-dialog-content>
      </ng-container>
    </ng-template>