.collapse-panel {
  border-radius: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;

  .mr-10 {
    margin-right:10px;
  }

  & > &-header {
    background-color: #f9f9f9;
    cursor: pointer;
    padding: 8px 0px;
    border-radius: 4px;
    transition: 0.25s ease;
    transition-property: background-color, color;

    &.entered {
      background-color: rgba(#666, 0.6);
      color: white;
    }

    ::ng-deep app-collapse-item {
      animation: expend 350ms;
      height: 20px;
    }
  }

  & > &-content {
    overflow: hidden;
  }

  & > &-content > &-body {
    padding: 0px;
    border: 1px solid #e0e0e0;
    border-top: 0;
    border-radius: 0 0 4px 4px;
  }

  &.opened > .collapse-panel-header {
    background-color: #666;
    color: white;
    border-radius: 4px 4px 0 0;
  }

  .semaforo > .rosso {
    color: #cc0000;
  }
  .semaforo > .verde {
    color: #090;
  }
  .closeDialog2 {
    height: 18px;
    width: 18px;
    font-size: 18px;
    cursor: pointer;
  }
  .alCentro {
    display: flex;
    align-items: center;
    justify-content: left;
  }
}

@keyframes expend {
  0% {
    height: 0;
  }
  100% {
    height: 20px;
  }
}
