<plug-header [title]="appName" class="{{ headerClass }}"></plug-header>
<div
  class="container-fluid componentContainer mbFooter super{{ getClassName() }}"
>
  <ngx-spinner type="{{ currentSpinner }}" size="large"></ngx-spinner>
  <div class="appRouter">
    <plug-breadcrumbs [allowBootstrap]="true"></plug-breadcrumbs>
    <router-outlet></router-outlet>
  </div>
</div>
<div class="super{{ getClassName() }}">
  <plug-footer></plug-footer>
</div>
