<div class="row justify-content-md-center mb15">
  <div class="col-10">
      <div class="card bnlShadow mt10">
          <div class="card-body">
              <ng-container stateBase="adddocriunione" stateBaseModel="/">
                  <form [formGroup]="form" (ngSubmit)="submitAction()">
                      <plug-data-form [fields]="fields" [options]="options" [form]="form"></plug-data-form>
                      <button type="submit" class="bnl-button  btn-sm"><span class="bnl-save-heavy"></span> &nbsp; Save</button>
                  </form>
              </ng-container>
          </div>
      </div>
  </div>
</div>