<div class="container-fluid">
  
    <div class="col-12 no-gutter text-right">
        <button [dialog]="addDialog" class="btn bnl-button" aclAction="newAction"><span class="bnl-plus-light bnl-1.5x"></span> &nbsp; Nuovo</button>        
        <button class="btn bnl-button" aclAction="scaricaDati" (click)="scaricaDati()">
          <span class="bnl-share-light bnl-1.5x"></span> &nbsp; Estrai dati
        </button> 
    </div>
  <div class="row">
    <div class="col-12">

        <ng-container stateBase="doccensitilist" stateBaseModel="doccensitilist">
          <plug-data-table class="bootstrap striped responsive hover" [columns]="columns" [rowHeight]="'auto'" [selectionType]="'checkbox'" (onchange) ="tableChange()"></plug-data-table>

          <div class="row" *ngIf="table.selected.length > 0">
              <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 noMargin">
                  <plug-table-menu [template]="myMenu"></plug-table-menu>
              </div>
          </div>

          <ng-template #myMenu>
              <a class="noUnderline" (click)="removeAction()">
                  <li class="dropdown-item "><span class="bnl-trash-light"></span> Rimuovi</li>
              </a>
          </ng-template>

          <ng-template templateData="statusTemplate" let-row="row">
            <div *ngIf="row.flag_copia === '0' && row.attivo === '1'" class="text-success">
              <button mat-icon-button (click)="setDocCensitoAttivo(row.id_doc_info, row.attivo)" title="Marca il documento come disattivato">
                <h6><i class="bnl-checkmark-heavy"></i></h6>
              </button>
            </div>
            <div *ngIf="row.flag_copia === '0' && row.attivo === '0'" class="text-danger">
              <button mat-icon-button (click)="setDocCensitoAttivo(row.id_doc_info, row.attivo)" title="Marca il documento come attivo">
                <h6><i class="bnl-close-light"></i></h6>
              </button>
            </div>
            <div *ngIf="row.flag_copia === '1' && row.attivo === '0'"  ></div>
          </ng-template>
          
          <ng-template templateData="actionsTemplate" let-row="row">
            <!-- <a routerLink="edit/{{ row.id_documento }}/{{ row.id_doc_info }}"><button class="btn bnl-edit-pencil-light"></button></a> -->
            <div *ngIf="row.flag_copia === '0' && row.attivo === '1'" ><button [dialog]="editDialog" (click)="paramDialog(row.id_documento,  row.id_doc_info, row.codiceDocumento)" class="btn bnl-edit-pencil-light"></button></div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>

    <!-- Form per inserimento nuovo Documento  -->
  <ng-template #addDialog let-formDialog="dialogRef">
    <ng-container stateBase="adddocument" stateBaseModel="/">
      <div class="row">
        <div class="col-12 text-right">
          <i class="closeDialog bnl-close-light" (click)="closeForm(formDialog, false)" alt=""></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="addDocAction(formDialog)">
          <h2 mat-dialog-title>Documento</h2>
          <plug-data-form #addDocument  immutable="immutable" [fields]="dialogFields" [options]="optionsaddDoc" [model]="model" [form]="form"></plug-data-form> 
          <mat-dialog-actions align="end">
            <button type="button" class="btn bnl-button bordered mr10" (click)="closeForm(formDialog, false)">Annulla</button> &nbsp; 
            <button type="submit" class="btn bnl-button submit-button">Conferma</button>
          </mat-dialog-actions>
        </form>
      </div>
      </div>
    </ng-container>
  </ng-template>

  <!-- Form per modifica Documento censito -->
  <ng-template #editDialog let-formDialog="dialogRef">
    <ng-container stateBase="editdocument" stateBaseModel="/">
      <div class="row">
        <div class="col-12 text-right">
          <i class="closeDialog bnl-close-light" (click)="closeForm(formDialog, false)" alt=""></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="editDocAction(formDialog)">
          <h2 mat-dialog-title>Documento {{codiceDocumento}}</h2>
          <plug-data-form #editDocument  immutable="immutable" [fields]="dialogFields" [options]="optionseditDoc" [model]="model" [form]="form"></plug-data-form> 
          <mat-dialog-actions align="end">
            <button type="button" class="btn bnl-button bordered mr10" (click)="closeForm(formDialog, false)">Annulla</button> &nbsp; 
            <button type="submit" class="btn bnl-button submit-button">Conferma</button>
          </mat-dialog-actions>
        </form>
      </div>
      </div>
    </ng-container>
  </ng-template>