


<mat-accordion [multi]="to.multiple || true"  [style]="to.style" >
  <mat-expansion-panel class="mat-elevation-z8" *ngFor="let field of field.fieldGroup; let index = index; let last = last;" 
  (closed)="onClose($event)" (opened)="onOpen($event)" (afterExpand)="scrollToTop()" 
  [expanded]="field.templateOptions.expanded || false" [disabled]="field.templateOptions.accordionDisabled">
   <mat-expansion-panel-header>
      <mat-panel-title>
        {{field.templateOptions.header}} <mat-icon>library_add</mat-icon>
      </mat-panel-title>      
      <mat-panel-description>
        <button mat-icon-button (click)="moveUp($event,i)"><mat-icon>arrow_upward</mat-icon></button>
        <button mat-icon-button (click)="moveDown($event,i)"><mat-icon>arrow_downward</mat-icon></button>   
        <button mat-icon-button (click)="removeMonth(i)" color="warn"><mat-icon>clear</mat-icon></button>
      </mat-panel-description>
   </mat-expansion-panel-header>

   
   <ng-template matExpansionPanelContent>
    Some deferred content
  </ng-template>



   <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [class.display-flex]="field.fieldGroupClassName" [model]="model" [fields]="field.fieldGroup" [options]="options" [form]="form">
      <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button>
    </formly-form>
  </form>

  <mat-action-row>
    <button color="warn" (click)="prevStep()">Previous</button>
    <button color="primary" (click)="nextStep('')">Submit</button>
  </mat-action-row>
 
 </mat-expansion-panel>

</mat-accordion>


<div style="margin-top: 100px">
  <button color="primary" (click)="step = 0">RESET</button>
</div>