<h1>Organi</h1>
        <div class="container-fluid">  
        <ng-container stateBase="horgani" stateBaseModel="horgani">
        <plug-data-table class="bootstrap striped responsive hover compact" [columns]="columns">
        </plug-data-table>
      </ng-container>

</div>