<h1>Funzioni</h1>
        <div class="container-fluid"> 
        <ng-container stateBase="hfunzioni" stateBaseModel="hfunzioni">
        <plug-data-table class="bootstrap striped responsive hover compact" [columns]="columns">
        </plug-data-table>
      </ng-container>

</div>