@import "htmlEditor.scss";

.disabled {
  color: #e0e0e0 !important;
  cursor: default;
}

.hidden {
  display: none !important;
}

.navbar {
  padding: 0rem 1rem !important;
  border-bottom: 1px solid #ccc;
}

.menu {
  height: 40px !important;
}

.btn-default.btn-circle:focus,
.btn-default.btn-circle:active {
  background-color: inherit !important;
  box-shadow: 0 0 0 #fff !important;
}

.ngx-datatable.bootstrap .datatable-footer {
  background: #d5d5d4 !important;
  color: #999 !important;
  margin-top: -1px;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
  background-color: inherit !important;
  color: inherit !important;
}

.bnlShadow {
  box-shadow: 0 2px 4px rgba(45, 41, 38, 0.3);
}

.mat-radio-group .mat-radio-button .mat-radio-label .mat-radio-label-content {
  padding-right: 30px !important;
}

.mat-form-field-type-radio {
  text-align: center !important;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.document-box {
  padding: 20px 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  border-radius: 0;
  width: 100%;
}

.document-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0 !important;
}

.mat-datepicker-input {
  width: 85%;
}
.mat-datepicker-input mat-icon {
  position: relative;
  float: right;
  top: -3px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
}

.mat-datepicker-toggle .mat-button-wrapper .mat-datepicker-toggle-default-icon {
  width: 1.5em !important;
}

.collapse-panel.opened .mat-form-field-appearance-legacy .mat-form-field-label,
.collapse-panel.opened .mat-datepicker-toggle {
  color: white;
}

.collapse-panel.opened
  .mat-form-field-appearance-legacy
  .mat-form-field-underline {
  background-color: white;
}

.collapse-panel.opened .collapse-panel-header .bnl-button.bordered {
  background: unset !important;
  border: 1px solid #fff !important;
  color: #fff !important;
}

.ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 98% !important;
}

.bnl-button {
  min-width: auto !important;
}

.myHeaderClass input,
.myHeaderClass ng-select {
  width: 85% !important;
  font-size: 12px;
}
