<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <ng-container stateBase="formdashboard" stateBaseModel="/">
        <plug-data-form
          [model]="model"
          [fields]="fields"
          [options]="options"
          [form]="form"
        >
          <!-- <div class="text-center">
                    <button type="button" class="bnl-button btn-lg" (click)="options.resetModel()">Reset</button>
                    <button type="button" class="bnl-button btn-lg" (click)="updateFilter()">Filtra</button>
                </div> -->
        </plug-data-form>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- <h3 class="text-center" *ngIf="form.controls.filtro_organi.value != null">
        {{ "Panoramica riunioni Organo " + organi }}
      </h3> -->
      <ng-container stateBase="dashboard" stateBaseModel="/">
        <app-collapse cdkDropList  [accordion]="true">
          <app-collapse-panel
            *ngFor="let riunione of service.result$ | async; let i = index"
            [title]="riunione.nomemese"
            [index]="i"
            [month]="riunione.mese"
            [year]="riunione.years"
            [dateriunione]="riunione.data_riunione"
            [idriunione]="riunione.id_riunione"
            [idorgano]="riunione.id_organo"
            [n_verbale]="riunione.n_verbale"
            [dropListData]="riunione.documenti"
            (dropListDropped)="onDropped($event, riunione.mese)"
            [attr.data-index]="i"

          >
            <app-collapse-item
              [title]="item.titolo"
              [text]="item.funzioni"
              [coddoc]="item.codice_doc"
              [iddoc]="item.id_doc_info"
              [ricevuto]="item.ricevuto"
              [month]="riunione.mese"
              [year]="riunione.years"
              [idorgano]="riunione.id_organo"
              *ngFor="let item of riunione.documenti"
            ></app-collapse-item>
            <p *ngIf="!riunione.documenti.length">
              Non ci sono documenti per la riunione di questo mese.
            </p>
          </app-collapse-panel>
        </app-collapse>
      </ng-container>
    </div>
  </div>

  <img src="assets/logoSOS.png" class="rounded mx-auto w-25 d-block" alt="Logo SOS">
  
</div>